.container {
	padding: 0;
}

.main {
	min-height: 100vh;
	padding: 2rem 0;
	padding-top: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: 1rem 2rem;
	font-weight: bold;
	text-align: center;
}

.nav a:hover {
	color: #0026ff;
}

#nav-btn {
	padding: 10px;
	margin: auto 0;
	margin-left: 10px;
}

.center_content {
	margin: 0 auto;
	max-width: 900px;
}

.intro {
	padding: 2rem 1rem;
	width: 100%;
}

.intro .center_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.intro .center_content p {
	max-width: 540px;
}

.quick_info {
	background-color: white;
	padding: 2rem 1rem;
	width: 100%;
}

.quick_info h3 {
	margin-bottom: 1%;
}

.services {
	padding: 2rem 1rem;
	width: 100%;
}

.service_grid {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	gap: 1rem;
}

.service {
	max-width: 210px;
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
	min-height: 390px;
	max-height: 390px;
	width: 100%;
}

.service div {
	display: flex;
	position: relative;
	align-items: space-between;
	flex-direction: column;
	min-height: inherit;
}

.service div a {
	text-align: center;
	margin-top: auto;
	position: absolute;
	bottom: 13%;
}

.service .button {
	justify-self: flex-end;
}

.reviews {
	background-color: white;
	padding: 2rem 1rem;
	width: 100%;
}

.contact {
	text-align: center;
	padding: 2rem 1rem;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 1rem 1rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.footer .center_content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}

	.service {
		max-width: 100%;
		min-height: 5%;
		max-height: 5%;
	}

	.service div {
		position: static;
	}

	.service div a {
		position: static;
		margin-right: auto;
		margin-top: 5%;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}
